html,body{
  height: 100%;
}
.lady-header{
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 8px 0 0;
  justify-content: space-between;
  align-items: center;
  // border-bottom: 1px solid $ladytheme;
  border-bottom: 1px solid #e6e6e6;
  .lady-rightbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-photo {
    cursor: pointer;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 100px;
  }
}
.lady-header__inner{
  display: flex;
  flex: 1;
  justify-content: space-between;
}
.lady-breadcrumb{

}
.lady-aside.el-menu--collapse{
  // border-right: 1px solid $ladytheme;
  .el-tooltip,
  .el-submenu__title{
    text-align: center;
  }
  .lady-appname {
    display: none;
  }
}
.lady-aside-container{
}
.lady-aside-container .lady-aside .lady-aside-bar {
  color: $ladytheme;
}
.lady-main{
  position: relative;
  padding-top: 40px;
  display: flex;
  padding: 0;
}
.lady-tabs-container{
  position: absolute;
  left: 50px;
  right: 60px;
}
.lady-tabs-wrapper{
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  padding: 0 15px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
  .el-tabs__nav-prev,
  .el-tabs__nav-next{
    display: none;
  }
  &.is-scroll{
    left: 0px;
    right: 0px;
    padding: 0 18px;
    .el-tabs__nav-prev,
    .el-tabs__nav-next{
      // position: absolute;
      z-index: 2;
      display: inline-block;
      background-color: #fff;
    }
  }
  .el-tag{
    cursor: pointer;
    margin-top: 6px;
    margin-right: 8px;
  }
  .lady-tabs-list {
    position: absolute;
    // left: 10px;
    width: auto;
    transition: transform .3s ease-in-out;
  }
}
.lady-main-inner {
  flex: 1;
  margin-top: 50px;
  overflow-y: auto;
}
.backtop {
  position: fixed;
  right: 20px;
  bottom: 60px;
  z-index: 30;
  width: 52px;
  height: 52px;
  background: rgba(0, 0, 0, .4);
  line-height: 52px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  i{
    // font-size: 30px;
    vertical-align: middle;
    color: #fff;
  }
}
// scroll
::-webkit-scrollbar-track {
  border-radius: 0;
  // background-color: #f1f1f1;
  // border-left: 1px solid #e7e7e7;
}
::-webkit-scrollbar-thumb {
  background-color: #eaeaea;
  background-clip: padding-box;
  border: 3px solid hsla(0,0%,100%,0);
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-radius: 10px;
  min-height: 10px;
}
::-webkit-scrollbar-button {
  display: none;
  height: 0;
  width: 0;
}
::-webkit-scrollbar {
  width: 15px;
  height: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
// selection
:root:root ::selection {
  background: #777;
  color: #fff;
}